.MainArea {
    background-color: rgb(56, 33, 33);
    width: 44vw;
    padding-bottom: 100px;
    
}

@media screen and (max-width: 1200px) {
    .MainArea {
      width: calc(64vw - 70px );
    }
   
  }
  @media screen and (max-width: 800px) {
    .MainArea {
        width:96vw;
        margin-right: 4vw;
    }
   
  }